:root{
    --cor-de-fundo: #fafafa;
}
body{
    background-color:var(--cor-de-fundo);
    font-family: "DM Serif Display", serif;
    font-weight: ;100
    font-style: italic; 
}
.planta{
    width: 30%;
}
.procurar{
    width: 30%;
    position: absolute;
    top: 40px;
}
.titulo{
    
}