:root{
    --cor-de-fundo: #fafafa;
}
body{
    background-color:var(--cor-de-fundo);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
.planta{
    width: 500px;
}