:root{
    --cor-de-fundo: #fafafa;
}
body{
    background-color:var(--cor-de-fundo);
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: italic; 
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
}
.planta{
    width: 30%;
}
.procurar{
    width: 30%;
    position: absolute;
    top: 40px;
}
.sobre{
    font-size: medium;
}
.titulo{
    
}