:root{
    --cor-de-fundo: #fafafa;
}
body{
    background-color:var(--cor-de-fundo);
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: italic; 
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.planta{
    width: 30%;
}
#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
